@font-face {
    font-family: fontGame;
    src: url("./assets/Pony.ttf");
}

.game {
    font-family:  fontGame;
    background-image:url("./assets/bgGame.png");
    width: 100vw;
    height: 100vh;
}
